@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 222 47% 11%;
  --foreground: 210 40% 98%;
  --card: 222 47% 11%;
  --card-foreground: 210 40% 98%;
  --muted: 222 47% 15%;
  --muted-foreground: 214 32% 91%;
  --primary: 196 100% 60%;
  --primary-foreground: 222 47% 11%;
  --border: 215 27% 27%;
  --ring: 196 100% 60%;
  --radius: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-background text-foreground antialiased;
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

* {
  @apply border-border;
}

::selection {
  @apply bg-sky-500/30 text-white;
}
